<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Game Time</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="head-container">
    <h1><span>Welcome to Game Time<span></h1>
    <p>Get the most up to date scores on your NFL teams here</p>
    <iframe class="youtube" width="560" height="315" src="//www.youtube.com/embed/Zce-QT7MGSE?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="btn-container">
    <a href="/leaderboard" class="btn">Enter</a>
  </div>
</body>
</html>
