<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Game Time</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1><span>Leader Board</span></h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <% @leaderboard_data.each do |k,v| %>
        <tr>
          <td>
            <a href="<%= url("/leaderboard/#{v[0]}") %>">
              <%= v[0] %>
            </a>
          </td>
          <td>
            <%= v[1][0][:wins] %>
          </td>
          <td>
            <%= v[1][0][:losses].abs %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <a href='/'>&lt;&lt;</a>
</body>
</html>
